<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Dashboard</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <style>
        /* Add your custom styles here */
    </style>
</head>
<body>
<div>
    <h1>Network Activities</h1>
    <p>Total Users: <span th:text="${totalUsers}"></span></p>
    <p>Average Time: <span th:text="${averageTime}"></span></p>
    <p>Total Males: <span th:text="${totalMales}"></span></p>
    <p>Total Females: <span th:text="${totalFemales}"></span></p>
    <p>Total Collections: <span th:text="${totalCollections}"></span></p>
    <p>Total Connections: <span th:text="${totalConnections}"></span></p>

    <h2>Network Activities Graph</h2>
    <canvas id="networkActivitiesChart"></canvas>

    <h2>Top Campaign Performance</h2>
    <canvas id="campaignPerformanceChart"></canvas>
</div>

<script type="text/javascript" th:inline="javascript">
    // Chuyển đổi các biến Thymeleaf thành mảng JavaScript
    var labels = /*[[${labels}]]*/ [];
    var data = /*[[${data}]]*/ [];

    // Biểu đồ Network Activities
    var ctx = document.getElementById('networkActivitiesChart').getContext('2d');
    var networkActivitiesChart = new Chart(ctx, {
        type: 'line',
        data: {
            labels: labels,
            datasets: [{
                label: 'Total Amount',
                data: data,
                backgroundColor: 'rgba(75, 192, 192, 0.2)',
                borderColor: 'rgba(75, 192, 192, 1)',
                borderWidth: 1
            }]
        },
        options: {
            scales: {
                y: {
                    beginAtZero: true
                }
            }
        }
    });

    // Biểu đồ Campaign Performance
    var campaignLabels = /*[[${campaignLabels}]]*/ [];
    var campaignData = /*[[${campaignData}]]*/ [];
    var ctx2 = document.getElementById('campaignPerformanceChart').getContext('2d');
    var campaignPerformanceChart = new Chart(ctx2, {
        type: 'bar',
        data: {
            labels: campaignLabels,
            datasets: [{
                label: 'Performance',
                data: campaignData,
                backgroundColor: [
                    'rgba(75, 192, 192, 0.2)',
                    'rgba(54, 162, 235, 0.2)',
                    'rgba(255, 206, 86, 0.2)',
                    'rgba(75, 192, 192, 0.2)'
                ],
                borderColor: [
                    'rgba(75, 192, 192, 1)',
                    'rgba(54, 162, 235, 1)',
                    'rgba(255, 206, 86, 1)',
                    'rgba(75, 192, 192, 1)'
                ],
                borderWidth: 1
            }]
        },
        options: {
            scales: {
                y: {
                    beginAtZero: true
                }
            }
        }
    });
</script>
</body>
</html>
